.basic-grid {
    display: grid;
    grid-gap: 0;

    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    overflow: hidden;
    cursor: pointer;
    box-sizing: border-box;
    padding: 0;
    border: 1px solid black;

    font-family: "Better World";
    color: #13004a;
    font-weight: bold;
    /* text-shadow: -1.5px -1.5px 0 black, -1.5px -1.5px 0 black, -1.5px -1.5px 0 black, -1.5px -1.5px 0 black; */
}

.item img {
    width: 90%;
}

.price {
    font-size: 1.5rem;
}

section {
    width: 100%;
}

a {
    color: inherit;
}